<div id="toast-container"></div>

<div class="modal-content">
  <h2 style="text-align: center">CONFIG</h2>

  <!-- General -->
  <div class="modal-settings-spacing">
    <details class="config-list-details">
      <summary>General</summary>
      <div class="settings-wrapper">
        <div id="global-settings-container"></div>
      </div>
    </details>
  </div>
  <hr class="thick-line" />
  <!-- Latest page settings -->
  <div class="modal-settings-spacing">
    <details class="config-list-details">
      <summary>Latest page settings</summary>
      <div class="settings-wrapper">
        <div id="latest-settings-warning"></div>
        <div id="latest-settings-container"></div>
        <div id="overlay-settings-container"></div>
      </div>
    </details>
  </div>
  <hr class="thick-line" />
  <!-- Thread settings -->
  <div class="modal-settings-spacing">
    <details class="config-list-details">
      <summary>Thread settings</summary>
      <div class="settings-wrapper">
        <div id="thread-settings-container"></div>
        <div id="thread-overlay-settings-container"></div>
      </div>
    </details>
  </div>
  <hr class="thick-line" />
  <!-- TAGS -->
  <div class="modal-settings-spacing">
    <details class="config-list-details">
      <summary>Tags</summary>

      <div class="settings-wrapper">
        <div id="tag-error-notif" class="modal-error-notif"></div>
        <div id="tags-container">
          <div id="search-container">
            <input type="text" id="tags-search" placeholder="Search tags..." autocomplete="off" />
            <ul id="search-results"></ul>
            <div id="preffered-tags-list"></div>
            <div id="excluded-tags-list"></div>
          </div>
        </div>
      </div>
    </details>
  </div>
  <hr class="thick-line" />
  <!-- COLORS -->
  <div class="modal-settings-spacing">
    <details class="config-list-details">
      <summary>Color</summary>
      <div class="settings-wrapper">
        <div id="color-error-notif" class="modal-error-notif"></div>

        <div id="color-container"></div>
      </div>
      <div class="centered-item">
        <button id="reset-color" class="modal-btn">Reset color</button>
      </div>
    </details>
  </div>
  <hr class="thick-line" />

  <!-- Close -->
  <div class="centered-item">
    <button id="close-modal" class="modal-btn">🗙 Close</button>
  </div>
</div>
