.preferred {
  background-color: var(--preferred-color);
  font-weight: bold;
  color: var(--preferred-text-color);
}

.preferred-shadow {
  box-shadow: var(--preferred-shadow);
}

.excluded {
  background-color: var(--excluded-color);
  font-weight: bold;
  color: var(--excluded-text-color);
}

.excluded-shadow {
  box-shadow: var(--excluded-shadow);
}

.marked {
  background-color: var(--marked-color);
  font-weight: bold;
  color: var(--marked-text-color);
}
