:root {
  --completed-color: #388e3c;
  --onhold-color: #1976d2;
  --abandoned-color: #c9a300;
  --high-version-color: #2e7d32;
  --invalid-version-color: #a38400;
  --tile-info-color: #9398a0;
  --tile-header-color: #d9d9d9;
  --preferred-color: #7b1fa2;
  --preferred-text-color: #ffffff;
  --excluded-color: #b71c1c;
  --excluded-text-color: #ffffff;
  --neutral-color: #37383a;
  --neutral-text-color: #9398a0;
  --preferred-shadow: 0 0 2px 1px #fff;
  --excluded-shadow: 0 0 2px 1px #fff;
}

div#latest-page_items-wrap_inner
  div.resource-tile
  a.resource-tile_link
  div.resource-tile_info
  div.resource-tile_info-meta {
  color: var(--tile-info-color);
  font-weight: 600;
}

div#latest-page_items-wrap_inner div.resource-tile a.resource-tile_link {
  color: var(--tile-header-color);
}
